body{
    position: relative;
  }
.jumbotron{
  background: url(img/jumbotron-img.jpeg) no-repeat center center;
  width:100%;
  height: 100%;
  background-size: 100% 100%;
}

.display-4, .lead, .h5{
  color:white;
}

.card-img-top{
  width:286; 
  height:200;
}